.list_item {
  cursor: pointer;
}

.active {
  border-left: 3px solid var(--light);
  /* border-left: 3px solid #44dbc4; */
  /* border-left: 3px solid var(--secondary); */
  margin-left: -3px;
}

.list_item-label,
.list_item-action {
  padding: 0.5rem;
}

.list_item-action button {
  width: 1rem;
}

#action_delete {
  margin-right: 0.5rem;
  background: url(../../assets/icon_trash.svg) no-repeat center bottom;
}

#action_delete:hover,
#action_delete:focus {
  background-image: url(../../assets/icon_trash_alt.svg);
}

#action_edit {
  margin-left: 0.5rem;
  background: url(../../assets/icon_edit.svg) no-repeat center bottom;
}

#action_edit:hover,
#action_edit:focus {
  background-image: url(../../assets/icon_edit_alt.svg);
}

#action_delete:focus,
#action_edit:focus {
  box-shadow: none;
  border-radius: 0;
}

