/*
Author: Amandine ARIAS alias Codexarama;
Project: Todo-List;
Type: React app;
Description: Add - Delete - Edit list items;
First version: 20/05/2022;
Tags:
  react,
  app,
  todos,
  list,
  development;
*/

/* FONTS */
:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* COLORS */
:root {
  --bg: #262626;
  --primary: #f2709c;
  --secondary: #ff9472;
  --tertiary: darkgrey;
  --dark: #000;
  --light: #fff;
  --gradient: linear-gradient(1.1turn, var(--primary), var(--secondary));
  --gradient_hover: linear-gradient(1.1turn, var(--primary), var(--secondary));
  --gradient_variant: linear-gradient(1.1turn, #1c9da3, #44dbc4);
  --gradient_neutral: linear-gradient(1.1turn, grey, darkgrey);
  --gradient_neutral-hover: linear-gradient(1.1turn, grey, darkgrey);
}

/* STANDARDS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#root {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: var(--gradient) no-repeat;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--light);
}

input,
button {
  all: unset;
  cursor: pointer;
}

li {
  list-style: none;
}

a,
.icon {
  text-decoration: none;
  color: inherit;
}

/* APP */
