#add_task {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  background-color: var(--bg-variant);
}

#add_task:focus-within {
  box-shadow: none;
}

::placeholder {
  color: var(--tertiary);
}

#actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}

#actions button {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

#action_add {
  order: 2;
  font-weight: 600;
  background: var(--gradient-variant);
}

#action_add:hover,
#action_add:focus {
  background: var(--gradient-variant_hover);
}

#action_update {
  order: 2;
  font-weight: 600;
  background: var(--gradient);
}

#action_update:hover,
#action_update:focus {
  background: var(--gradient_hover);
}

#action_clear {
  order: 3;
  font-weight: 600;
  margin-left: 1rem;
  background: var(--gradient-neutral);
}

#action_clear:hover,
#action_clear:focus {
  background: var(--gradient-neutral_hover);
}

/***** EFFECTS *****/
/***** background effects settings *****/
/* #actions button {
  position: relative;
  transition: all 0.25s;
  animation-fill-mode: backwards;
}

#actions button::after {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-weight: 600;
  border-radius: 5rem;
  transition: all 1s;
}

#actions button:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0.1;
}

#action_add::after {
  content: 'Add';
  background: var(--gradient-variant);
}

#action_update::after {
  content: 'Update';
  background: var(--gradient);
}

#action_clear::after {
  content: 'Clear';
  background: var(--gradient-neutral);
} */
/***** end EFFECTS *****/

#no_task {
  order: 1;
  width: 100%;
  padding-left: 1rem;
  align-self: center;
  text-align: left;
}

#no_task span {
  position: relative;
}

#icon_check {
  position: absolute;
  top: 0.25rem;
  width: 1rem;
  margin-left: 0.5rem;
}
