.list_item {
  display: flex;
  justify-content: space-between;
}

.list_item-label {
  padding: 0.5rem;
  font-size: large;
}

.list_item-label {
  width: 85%;
}

.list_item-action {
  display: flex;
}
